<%- include('../partials/header') %>

<body>
    <div class="roommate-details">

        <div class="info-container">
            <h1><%= roommate.title %></h1>
            <p><strong>Details:</strong> <%= roommate.details %></p>
            <p><strong>Gender Preference:</strong> <%= roommate.gender %></p>
            <p><strong>Dorm Style:</strong> <%= roommate.style %></p>
            <p><strong>Posted By:</strong> 
                <% if (roommate.poster) { %>
                    <%= roommate.poster.firstName %> <%= roommate.poster.lastName %>
                <% } else { %>
                    Unknown
                <% } %>
            </p>
            <p><strong>Posted On:</strong> <%= roommate.createdAt.toDateString() %></p>

        </div>
        <hr>

        <div class="comment-container">
            <h2>Comments</h2>
            <ul class="comments-list">
                <% if (roommate.comments && roommate.comments.length > 0) { %>
                    <% roommate.comments.forEach(comment => { %>
                        <li><strong><%= comment.author %>:</strong> <%= comment.text %></li>
                    <% }); %>
                <% } else { %>
                    <li>No comments yet. Be the first to comment!</li>
                <% } %>
            </ul>
            <%if(user) {%>
                <form class="comment-form" method="POST" action="/roommates/<%= roommate._id %>/comment">
                    <label for="comment">Leave a Comment:</label>
                    <textarea class="comment" name="text" required></textarea>
                    <button type="submit">Submit</button>
                  </form>
                  
                <%}%>
            </div>

    </div>
</body>

<%- include('../partials/footer') %>